%echo Generating a primary certification key and subkeys for signing
Key-Type: RSA
Key-Length: 4096
Key-Usage: cert
Expire-Date: 0
Subkey-Type: RSA
Subkey-Length: 4096
Subkey-Usage: sign
Name-Real: {key_name}
Name-Email: {key_email}
%no-protection
%commit
%echo Key generation complete
